ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}
p{
  color: red
  /* element selector */
}
.note{
  font-size: 20px
  /* class selector */
}
#id-selector-demo{
  color: green
  /* id selector */
}
li[value]
{
  color:blue
}
*{
  text-align: center
}

/* Write your CSS below, don't change the rules above. */
